%h2
  Profile of
  %em= @representative.name
%ul#details
  %li
    Name:
    \#{@representative.name}
  %li
    OCD ID:
    \#{@representative.ocdid}
    Party:
    \#{@representative.party}
    photo:
    \#{@representative.photoUrl}
    address:
    \#{@representative.street}