= form_for news_item, url: form_url, html: { method: form_method } do |f|
    - if news_item.errors.any?
        .alert.alert-danger
            %h2
                "#{pluralize(news_item.errors.count, 'error')} prohibited this news from being saved:"
            %ul
                - news_item.errors.full_messages.each do |message|
                    %li= message
    .form-group.row
        .col-sm-2
            = label :news_item, :"your rate:", class: 'col-form-label'
        .col-sm-10
            = select :news_item, :rating, ratings_list, { include_blank: false }, class: 'form-control'
    .form-group.row
        = f.hidden_field :owner, value: the_owner, class: 'form-control'
        = f.hidden_field :title, value: title, class: 'form-control'
        = f.hidden_field :issue, value: issue, class: 'form-control'
        = f.hidden_field :link, value: link, class: 'form-control'
        = f.hidden_field :description, value: description, class: 'form-control'
        = f.hidden_field :representative_id, value: representative_id, class: 'form-control'
    .actions
        = f.submit 'Save', class: 'btn btn-primary'
